

.itemHeader {
  font-size:1.2rem;
  line-height:1rem;
  color:#000;
  padding-top:10px;
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  font-weight: 900;
}

.updateTime {
  color:#767676;
  font-weight: bold;
  font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
}

.nodeCircle {
  cursor: pointer;
  stroke: lightgrey;
  stroke-width: 1.5px;
}

.metaInfoPanel {
  color:#767676;
}

.nodeImage {
  pointer-events:none;
}

.link {
  fill: none;
  stroke: #005689;
  stroke-width: 1.5px;
}

.red {

  font-weight:bold;
  color:red; 
}

.infoLink {
  color:#005689;
  font-weight:bold;
}

#slider {
  width:80%;
  display: inline-block;
  margin-left:10px;
}

#loadMessage {
	font-family:"Guardian Text Egyptian Web",Georgia,serif;
	font-size:1.5em;
	height:200px;
	text-align: center;

}

#outer-wrapper {
	max-width: 1260px;
	position: relative;
}

.categoryIcon {
  display: inline-block;
  width: 125px;
  height: 125px;
  float:right;
  margin-right:20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  color:#000;
}

.categoryIcon h2 {
  font-size:1.2rem;
}


.nav-button {
  display: none;
  position: absolute;
  top: 5px;
  cursor:pointer;
  width: 36px;
  height: 44px;
  cursor: pointer;
 /* border-radius: 50%;
  border: 1px solid #000;*/
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  right:0;
  margin-left: -29px;
  bottom: 20px;
  background-image: url("../img/down.png")
}

@media (max-width: 980px) {
	.hideMedium {
  	display: none;
  }

  .nav-button {
    display:inline;
  }
  .textPanel {
    display: none;
  }
}

.categoryIcon h2 {
	margin-top:60px;
  font-size:20px;
  border-radius: 25px;
  background-color:#005689;
  width:30px;
  height:30px;
  color:#FFF;
}

#incomeText {
  color:#00456e;
  font-size:3.4em;
}

#taxText {
  color:#197caa;
  font-size:3.4em;
}

.textWrapper, .resultsItem {
  position: relative;
  cursor: pointer;
}

.textInside {
  margin-left:5px;
}

.mobAmount {
  display: inline;
  color:#000;
}

@media (max-width: 61.25em) {

.textWrapper {
  width:88%;
}

}


@media (max-width: 450px) {

.categoryIcon h2, .itemHeader {
  font-size:1rem;
}

}

.textPanel {
  margin-top:10px; 
}


#resetButton, #tweetButton {
display:none;
}

.bar {
	position:absolute;
	background-color:#aad8f1;
	height:48px;
	z-index:-1;  
	top: 1px;
	width: 0px;
	transition(width 4.0s ease-in-out);
}

.btn:hover {

 background-color: #8E8E8E;
}
